<div class="card">
  <div class="card-content center-align">
      <img src="assets/images/logo-horizontal.png">
      <h4 class="white-text">LIMIT STOCKS</h4>
      
<div class="heading valign-wrapper">
               <div class="heading-logo-limit">
                    LOGO
                </div>
                <div class="heading-symbol-limit">
                   SYMBOL
                </div>

                <div class="heading-price-limit">
                    PRICE
                </div>



                <div class="heading-button">
                  BUY/SELL
                </div>
                <div class="heading-limit">
                 LIMITS
                </div>
                 <div class="heading-button">
                  UPDATE
                </div>

</div>

      <!--START STOCK EXAMPLE-->
      <ul class="list-group ">
        {{#each stock}}
          <li >
            <div class="stock valign-wrapper">
                <div class="stockpic-limit">
                    <img class="center-align" src="{{imageURL}}" alt="stockLogo">
                </div>
                <div class="stocksymbol-limit ">
                    {{symbol}}
                </div>
                <div class="stockprice-limit">
                    {{price}}
                     
                </div>
                <div class="stockarrow ">
                   <img src="assets/images/arrow-up.png" height="30px">
                </div>

                <div class="limitprice">
                  2000.00 <br> 1000.00
                {{limitprice}}
                </div>

                <div class="stockbutton">
                  <button class="update btn-update" type="button" data-id="{{symbol}}"><i class="small material-icons">settings</i></button>
                </div>
                
            </div>
          </li>
        {{/each}}
      </ul>
      <!--END STOCK EXAMPLE-->
      <form action="index.html">
          <div class="card-action center-align">
              <a href="/"><button type="button" class="btn btn-filter">View All</button></a>
              <a href="/api"><button type="button" class="btn btn-add">Add</button></a>
          </div>
      </form>
      
  </div>
</div>

