<div class="card">
    <div class="card-content center-align">
        <img src="assets/images/logo-horizontal.png">
        <h4 class="white-text">LIMIT STOCKS</h4>

        {{!-- TABLE HEADER ROW --}}
        <div class="heading valign-wrapper">
            <div class="heading-logo">
                LOGO
            </div>
            <div class="heading-symbol">
                SYMBOL
            </div>
            <div class="heading-price">
                PRICE
            </div>
            <div class="heading-button">
                BUY/SELL
            </div>
            <div class="heading-button">
                LIMITS
            </div>
        </div>

        <!-- STOCK ITEM LIST-->
        <ul class="list-group ">
            {{#each stock}}
                <li>
                    <div class="stock valign-wrapper">
                        <div class="stockpic">
                            <img class="center-align" src="{{imageURL}}" alt="stockLogo">
                        </div>
                        <div class="stocksymbol">
                            {{symbol}}
                        </div>
                        <div class="stockprice-limit" style="color:{{getColor changes}}">
                            {{price}}
                        </div>
                        <div class="stockarrow">
                            <img src="{{getArrow price sellPrice buyPrice}}">
                        </div>
                        <div class="stockprice-limit">
                            {{buyPrice}} | {{sellPrice}}
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>

        <!--ROUTE BUTTONS-->
        <div class="card-action center-align">
            <a href="/"><button type="button" class="btn">All</button></a>
            <a href="/api"><button type="button" class="btn">Add</button></a>
        </div>
      
    </div>
</div>

