<div class="row justify-content-center">

  <div class="col-md-1 "> </div>

  <div class="col-md-5 col-sm-12">
    <h1>Stock Watchlist</h1>
    <hr>
    <!-- Bootstrap list group - basic example -->
    <div class="row listCol">
     <ul class="list-group ">
        {{#each stock}}
     <li >
          <span>Stock Name: {{name}}</span>
          <img src={{imageURL}} alt="Stock">
          <p>Price: ${{price}}</p>
          <span step='0.01'>limit: ${{limitprice}}</span>
          <p>Stock Symbol: {{symbol}}</p>
           <hr>
           </li>
        {{/each}}
      </ul>
     
        
    </div>
  </div>
    
  <div class="col-md-1 "> </div>
</div>